<h1 class="title">Hello <%= @current_teacher.name%></h1>

<h1> Click See Parents to see your parent contact list </h1>
<br>
<h2> Your Colleagues </h2>
<% @teachers.each do |t| %>
  <p><%= t.name %></p>
<% end %>
